/*
Theme Name: Moose - Multipurpose Responsive HTML5 Template
Theme URI: http://themes.iki-bir.com/moose
Author: elemis
Author URI: http://iki-bir.com
Version: 1.0

*/
/*-----------------------------------------------------------------------------------*/
/*	RESET
/*-----------------------------------------------------------------------------------*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:focus {
    outline: 0 !important
}
.fit-vids-style {
    display: none
}
figure {
    margin: 0;
    padding: 0;
}
figure img {
    width: 100%;
    height: auto;
}
iframe {
    border: none
}
::selection {
    background: #fefac7; /* Safari */
    color: #555555;
}
::-moz-selection {
    background: #fefac7; /* Firefox */
    color: #555555;
}
/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #FFF;
    color: #888;
    font-size: 14px;
}
.container {
    padding-right: 0;
    padding-left: 0;
}
body,
li,
address {
    line-height: 35px
}
input,
button,
select,
textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
a {
    color: #fa6c65;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
a:hover,
a:focus {
    color: #2e2e2e;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    color: #616161;
    margin-bottom: 10px;
    font-weight: 700;
}
h1 {
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 15px;
}
h2 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 15px;
}
h3 {
    font-size: 18px;
    line-height: 22px;
}
h4 {
    font-size: 16px;
    margin-bottom: 8px;
}
h5 {
    font-size: 14px
}
h6 {
    font-size: 12px
}
.slab {
    font-family: 'Roboto Slab', serif;
    text-transform: none;
}
.section-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #fa6c65;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 2px;
}
.row .section-title {
    margin-bottom: 20px
}
.widget .section-title {
    margin-bottom: 15px;
    letter-spacing: normal;
}
.section-title span {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 18px;
    text-transform: lowercase;
    color: #848484;
    letter-spacing: normal;
}
.section-title span:before {
    display: inline-block;
    font-weight: 700;
    content: "|";
    padding: 0 10px 0 5px;
    color: #fa6c65;
}
.post-title {
    margin: 0 0 10px 0
}
h1.post-title {
    font-size: 22px;
    line-height: 24px;
}
.bordered .post-title {
    margin-bottom: 5px
}
.post-title a {
    color: #616161
}
.post-title a:hover {
    color: #fa6c65
}
.colored {
    color: #fa6c65
}
.media-wrapper {
    margin-bottom: 20px
}
.light-wrapper {
    background: #FFF;
    border-bottom: 1px solid #e5e5e5;
}
.dark-wrapper {
    background: #f9f9f9;
    border-bottom: 1px solid #e5e5e5;
}
.inner {
    padding-top: 70px;
    padding-bottom: 70px;
}
.lead {
    font-size: 18px;
    line-height: 32px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #7f7f7f;
}
blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 2px solid #e7e7e7;
}
blockquote p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    font-family: 'Roboto Slab', serif;
}
blockquote small {
    line-height: 33px;
    color: #fa6c65;
}
hr {
    border: 0;
    border-bottom: 1px solid #e3e3e3;
    margin: 60px 0;
}
.map iframe {
    display: block;
    max-width: 100%;
}
figure {
    margin: 0;
    padding: 0;
}
iframe {
    border: none
}
.media-wrapper {
    margin: 20px 0
}
.black-wrapper {
    background: #303538;
    color: #cacaca;
}
.black-wrapper .lead {
    color: #cacaca
}
.black-wrapper a {
    color: #cacaca
}
.black-wrapper a:hover {
    color: #fa6c65
}
.black-wrapper h1,
.black-wrapper h2,
.black-wrapper h3,
.black-wrapper h4,
.black-wrapper h5,
.black-wrapper h6 {
    color: #FFF
}
.black-wrapper .section-title,
.black-wrapper .section-title span,
.black-wrapper .section-title span:before {
    color: #FFF
}
.black-wrapper .widget h1,
.black-wrapper .widget h2,
.black-wrapper .widget h3,
.black-wrapper .widget h4,
.black-wrapper .widget h5,
.black-wrapper .widget h6 {
    color: #cacaca
}
i.contact {
    color: #6c6c6c;
    margin-right: 5px;
    width: auto;
    height: auto;
    line-height: 18px;
}
.widget .post-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.widget .post-list li {
    margin-bottom: 19px
}
.widget .post-list li h6 {
    font-size: 14px;
    line-height: 25px;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.widget .post-list li em {
    color: #6c6c6c;
    font-size: 12px;
    font-style: normal;
    font-family: 'Roboto Slab', serif;
}
.tagcloud {
    line-height: 25px
}
.footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-menu li {
    display: inline;
    padding-left: 10px;
}
.footer-menu li:before {
    display: inline-block;
    content: "|";
    padding-right: 12px;
}
.footer-menu li:first-child:before {
    display: none
}
.sub-footer {
    background: #2d3134;
    padding: 35px 0;
}
.sub-footer p {
    padding: 0;
    margin: 0;
}
.color-wrapper {
    background: #fa6c65
}
.color-wrapper,
.color-wrapper p {
    color: #FFF
}
.color-wrapper h1,
.color-wrapper h2,
.color-wrapper h3,
.color-wrapper h4,
.color-wrapper h5,
.color-wrapper h6 {
    color: #FFF
}
.thin {
    width: 70%;
    margin: 0 auto;
}
.member h3 {
    margin: 0 0 10px 0
}
.member h3 span {
    text-transform: none
}
.member h3 span:before {
    content: "-";
    padding: 0 5px 0 2px;
}
.meta,
.more {
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
    color: #9f9f9f;
    font-weight: 400;
    margin-bottom: 10px;
}
.meta span:before {
    display: inline-block;
    content: "|";
    padding: 0 10px 0 7px;
}
.meta span:first-child:before {
    display: none;
    padding: 0;
}
.meta .like i {
    padding: 0 4px 0 0
}
.meta a {
    color: #9f9f9f;
    display: inline !important;
}
.meta a:hover,
.more:hover {
    color: #fa6c65
}
.meta.tags a:before {
    content: "#";
    display: inline-block;
}
.bordered .info {
    text-align: center
}
.bordered {
    border: 1px solid #e3e3e3;
    padding: 20px 25px 25px 25px;
    padding-bottom: 10px;
    background: #FFF;
}
.no-top-border {
    border-top: none
}
.dropcap {
    font-weight: 900;
    display: block;
    float: left;
    font-size: 48px;
    padding: 0;
    margin: 0;
    margin: 12px 8px 0 0;
    text-transform: uppercase;
}
/*-----------------------------------------------------------------------------------*/
/*	PAGE TITLE
/*-----------------------------------------------------------------------------------*/
.head-image {
    max-width: 100%;
    position: relative;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.2);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
}
.head-image .overlay.light {
    background: rgba(255,255,255,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.head-image .overlay.dark {
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.head-image img {
    width: 100%;
    height: auto;
}
.head-image.option-1 {
    height: 180px
}
.head-image.option-2 {
    height: 180px
}
.head-image.option-3 {
    height: 120px
}
.head-image.option-4 {
    height: 120px
}
.page-title {
    font-family: 'Roboto Slab', serif;
    text-transform: none;
    font-weight: 300;
}
.head-image.option-1 .page-title {
    background: rgba(0,0,0,0.3);
    color: #FFF;
    padding: 12px 14px;
    font-size: 22px;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin: -23px 0 0 0;
    line-height: 1;
}
.head-image.option-2 .page-title {
    background: rgba(255,255,255,0.6);
    color: #515151;
    padding: 12px 14px;
    font-size: 22px;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin: -23px 0 0 0;
    line-height: 1;
}
.head-image.option-3 .page-title {
    color: #515151;
    font-size: 22px;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin: -11px 0 0 0;
    line-height: 1;
}
.head-image.option-4 .page-title {
    color: #fff;
    font-size: 22px;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin: -11px 0 0 0;
    line-height: 1;
}
/*-----------------------------------------------------------------------------------*/
/*	HEADER
/*-----------------------------------------------------------------------------------*/
.navbar-header {
    float: none !important
}
.navbar .container {
    padding: 0
}
.navbar {
    margin: 0;
    border-radius: 0;
    border: none;
    position: relative;
    z-index: 8000;
    min-height: inherit;
}
.navbar-brand {
    padding: 0
}
.navbar-header {
    background-color: #FFF;
    padding: 30px 0;
}
.navbar-collapse {
    background-color: #f9f9f9;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    width: 100%;
    max-height: 100px;
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.11);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.11);
    box-shadow: 0 1px 0 rgba(0,0,0,0.11);
}
.sticky-wrapper {
    max-height: 51px
}
.navbar-nav {
    margin: 0
}
.navbar-nav > li > a {
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #666666;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #f9f9f9;
    color: #fa6c65;
}
.navbar-nav > li:first-child > a {
    border-left: 1px solid rgba(0, 0, 0, 0.1)
}
.navbar .dropdown-menu {
    padding: 0;
    margin: 0;
    width: 190px;
    background: #2d3134;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar .dropdown-menu:not(.yamm-dropdown-menu) li {
    background: transparent;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar .dropdown-menu:not(.yamm-dropdown-menu) li:first-child {
    border: none
}
.navbar .dropdown-menu:not(.yamm-dropdown-menu) li a {
    padding: 15px;
    line-height: 1;
    color: #cacaca;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
}
.navbar .dropdown-menu:not(.yamm-dropdown-menu) li a:hover,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) li a.active {
    padding: 15px;
    filter: none;
    line-height: 1;
    background-color: #f9f9f9;
    color: #fa6c65;
}
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus {
    background-color: #f9f9f9;
    border-color: #e5e5e5;
}
.navbar .nav > li > .dropdown-menu:not(.yamm-dropdown-menu):after {
    display: none
}
.navbar .nav > li > .dropdown-menu:not(.yamm-dropdown-menu):before {
    display: none
}
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > li > a:hover,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > li > a:focus,
.navbar .dropdown-submenu:hover > a,
.navbar .dropdown-submenu:focus > a,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > .active > a,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > .active > a:hover,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > .active > a:focus {
    background: none;
    color: #fa6c65;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-header .info {
    display: block;
    padding-top: 5px;
    margin: 0;
}
.navbar-header .info li {
    display: inline;
    font-size: 12px;
    padding-left: 25px;
}
.navbar-header .info li a {
    display: inline;
    font-size: 12px;
    color: #888;
}
.navbar-header .info a:hover {
    color: #fa6c65
}
.navbar .social .dropdown-menu {
    background: #2d3134;
    margin: 12px 0 0 0;
    padding: 20px;
    text-align: center;
    width: 240px;
    border: none;
}
.navbar .social .dropdown-menu input {
    margin: 0;
    height: 30px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.2);
    color: #cacaca;
    width: 200px;
    border: none;
}
.navbar-form {
    padding: 0;
    margin: 0;
}
.btn.responsive-menu {
    padding: 8px 13px;
    margin: 0;
    display: none;
    font-size: 15px;
}
/*-----------------------------------------------------------------------------------*/
/*	BASIC/SIMPLE MENU
/*-----------------------------------------------------------------------------------*/
.offset {
    display: block;
    height: 80px;
}
.navbar.basic {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.11);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.11);
    box-shadow: 0 1px 0 rgba(0,0,0,0.11);
    width: 100%;
    background: #FFF;
}
.navbar.basic .navbar-brand img {
    margin-top: 26px
}
.navbar.basic .navbar-header {
    padding: 0
}
.navbar.basic .navbar-collapse {
    width: auto;
    border: none;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar.basic .navbar-nav > li > a {
    border-right: none;
    padding: 30px 10px;
}
.navbar.basic .navbar-nav > li:first-child > a {
    border-left: none
}
.navbar.basic .navbar-nav > li {
    margin-left: 20px
}
.navbar.basic .nav > li > a:hover,
.navbar.basic .nav > li > a:focus,
.navbar.basic .nav .open > a,
.navbar.basic .nav .open > a:hover,
.navbar.basic .nav .open > a:focus {
    background: none;
    color: #fa6c65;
}
.navbar.basic.default {
    width: 100%;
    position: absolute;
}
.navbar.basic.fixed {
    position: fixed;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}
.navbar.basic.fixed .navbar-brand img {
    height: 20px;
    margin-top: 15px;
}
.navbar.basic.fixed .navbar-nav > li > a {
    padding: 15px 10px
}
.navbar.basic .navbar-collapse {
    max-height: inherit
}
/*-----------------------------------------------------------------------------------*/
/*	MEGA MENU
/*-----------------------------------------------------------------------------------*/
.yamm .nav,
.yamm .dropup,
.yamm .dropdown,
.yamm .collapse {
    position: static
}
.yamm .navbar-inner,
.yamm .container {
    position: relative
}
.yamm .dropdown-menu {
    left: auto
}
.yamm .dropdown-menu > li {
    display: block
}
.yamm .nav.pull-right .dropdown-menu {
    right: 0
}
.yamm .yamm-content {
    padding: 30px;
    *zoom: 1;
    color: #cacaca;
}
.yamm .yamm-content:before,
.yamm .yamm-content:after {
    display: table;
    content: "";
    line-height: 0;
}
.yamm .yamm-content:after {
    clear: both
}
.yamm.navbar .nav > li > .dropdown-menu:after,
.yamm.navbar .nav > li > .dropdown-menu:before {
    display: none
}
.yamm .yamm-content img {
    width: 100%
}
.yamm .yamm-content a {
    color: #cacaca
}
.yamm .yamm-content h1,
.yamm .yamm-content h2,
.yamm .yamm-content h3,
.yamm .yamm-content h4,
.yamm .yamm-content h5,
.yamm .yamm-content h6 {
    color: #cacaca
}
.yamm .yamm-content h4 {
    margin-bottom: 15px
}
.yamm .yamm-content ul.circled li:before {
    color: #6c6c6c
}
.yamm .yamm-content a:hover {
    color: #fa6c65
}
.yamm .dropdown.yamm-fullwidth .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
}
/*-----------------------------------------------------------------------------------*/
/*	DIVIDERS
/*-----------------------------------------------------------------------------------*/
.divide0 {
    width: 100%;
    height: 0px;
}
.divide2 {
    width: 100%;
    height: 2px;
}
.divide3 {
    width: 100%;
    height: 3px;
}
.divide5 {
    width: 100%;
    height: 5px;
}
.divide10 {
    width: 100%;
    height: 10px;
}
.divide15 {
    width: 100%;
    height: 15px;
}
.divide20 {
    width: 100%;
    height: 20px;
}
.divide25 {
    width: 100%;
    height: 25px;
}
.divide30 {
    width: 100%;
    height: 30px;
}
.divide35 {
    width: 100%;
    height: 35px;
}
.divide40 {
    width: 100%;
    height: 40px;
}
.divide45 {
    width: 100%;
    height: 40px;
}
.divide50 {
    width: 100%;
    height: 50px;
}
.divide55 {
    width: 100%;
    height: 55px;
}
.divide60 {
    width: 100%;
    height: 60px;
}
.divide65 {
    width: 100%;
    height: 65px;
}
.divide70 {
    width: 100%;
    height: 70px;
}
.divide75 {
    width: 100%;
    height: 75px;
}
.divide80 {
    width: 100%;
    height: 80px;
}
.divide85 {
    width: 100%;
    height: 85px;
}
.rm0 {
    margin-right: 0px
}
.rm1 {
    margin-right: 1px
}
.rm2 {
    margin-right: 2px
}
.rm5 {
    margin-right: 5px
}
.rm10 {
    margin-right: 10px
}
.rm15 {
    margin-right: 15px
}
.rm20 {
    margin-right: 20px
}
.rm25 {
    margin-right: 25px
}
.rm30 {
    margin-right: 30px
}
.rm40 {
    margin-right: 40px
}
.rm50 {
    margin-right: 50px
}
.lm0 {
    margin-left: 0px
}
.lm1 {
    margin-left: 1px
}
.lm5 {
    margin-left: 5px
}
.lm7 {
    margin-left: 7px
}
.lm10 {
    margin-left: 10px
}
.lm15 {
    margin-left: 15px
}
.lm20 {
    margin-left: 20px
}
.lm25 {
    margin-left: 25px
}
.lm30 {
    margin-left: 25px
}
.lm40 {
    margin-left: 40px
}
.rp5 {
    padding-right: 5px
}
.rp10 {
    padding-right: 10px
}
.rp15 {
    padding-right: 15px
}
.rp20 {
    padding-right: 20px
}
.rp30 {
    padding-right: 30px
}
.rp50 {
    padding-right: 50px
}
.lp0 {
    padding-left: 0px
}
.lp10 {
    padding-left: 10px
}
.lp20 {
    padding-left: 20px
}
.lp30 {
    padding-left: 30px
}
.tp3 {
    padding-top: 3px
}
.tp5 {
    padding-top: 5px
}
.tp10 {
    padding-top: 10px
}
.tp20 {
    padding-top: 20px
}
.tp30 {
    padding-top: 30px
}
.tm4 {
    margin-top: 4px
}
.tm5 {
    margin-top: 5px
}
.tm7 {
    margin-top: 7px
}
.tm10 {
    margin-top: 10px
}
.tm15 {
    margin-top: 15px
}
.tm20 {
    margin-top: 20px
}
.mbm1 {
    margin-bottom: -1px
}
.bp0 {
    padding-bottom: 0 !important
}
.bm0 {
    margin-bottom: 0 !important
}
.bm5 {
    margin-bottom: 5px !important
}
.bm10 {
    margin-bottom: 10px !important
}
.bm15 {
    margin-bottom: 15px !important
}
.bm20 {
    margin-bottom: 20px !important
}
.bm30 {
    margin-bottom: 30px !important
}
.bp50 {
    padding-bottom: 50px
}
/*-----------------------------------------------------------------------------------*/
/*	BUTTON
/*-----------------------------------------------------------------------------------*/
.btn {
    color: #fff !important;
    font-family: 'Roboto Condensed', sans-serif;
    background: #fa6c65;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 11px 20px 13px 20px;
    font-weight: 700;
    font-size: 14px;
    text-shadow: none;
    border: none;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
}
.btn-large {
    padding: 12px 23px 15px 23px
}
.btn.btn-green {
    background: #1abb9c
}
.btn.btn-blue {
    background: #3f8dbf
}
.btn.btn-red {
    background: #fa6c65
}
.btn.btn-orange {
    background: #e67e22
}
.btn.btn-purple {
    background: #9b59b6
}
.btn.btn-pink {
    background: #d487be
}
.btn.btn-navy {
    background: #34495e
}
.btn.btn-gray {
    background: #95a5a6
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: #e2625b;
    color: #fff !important;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active {
    background: #17a78b !important
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active {
    background: #387eaa !important
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
    background: #cf4c45 !important
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active {
    background: #cd701e !important
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active {
    background: #8a4fa2 !important
}
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active {
    background: #bd78a9 !important
}
.btn-navy:hover,
.btn-navy:focus,
.btn-navy:active,
.btn-navy.active {
    background: #2c3e50 !important
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active {
    background: #859394 !important
}
.color-wrapper .btn {
    background: #FFF !important;
    color: #616161 !important;
}
.color-wrapper .btn:hover {
    background: #e9e9e9 !important
}
.connect .btn {
    padding: 11px 20px 13px 20px;
    font-size: 14px;
}
.connect .btn i {
    padding-right: 3px;
    font-size: 13px;
}
.btn.share-facebook {
    background: #3d5b9b !important
}
.btn.share-facebook:hover {
    background: #334c8e !important
}
.btn.share-twitter {
    background: #5aa8cd !important
}
.btn.share-twitter:hover {
    background: #499ac8 !important
}
.btn.share-googleplus {
    background: #3b3b3b !important
}
.btn.share-googleplus:hover {
    background: #2e2e2e !important
}
.btn.share-pinterest {
    background: #c53942 !important
}
.btn.share-pinterest:hover {
    background: #bc2d32 !important
}
/*-----------------------------------------------------------------------------------*/
/*	SOCIAL ICONS
/*-----------------------------------------------------------------------------------*/
.social {
    padding: 0;
    margin: 0;
    font-size: 0;
    height: 26px;
}
.social li {
    display: inline-block;
    font-family: 'fontello-social';
    margin-right: 4px;
}
.navbar .social {
    padding-top: 12px
}
.navbar .social li {
    margin: 0;
    margin-left: 4px;
    position: relative;
}
.text-center .social li {
    margin: 0 2px
}
.member .social {
    margin: 10px 0
}
.social li a {
    display: table
}
.social li a i {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #aaa;
    background: none;
    border: 1px solid #aaa;
    width: 26px;
    height: 26px !important;
    line-height: 1;
    font-size: 12px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.social a:hover .icon-s-pinterest {
    color: #d8545d;
    border-color: #d8545d;
}
.social a:hover .icon-s-rss {
    color: #faaa5e;
    border-color: #faaa5e;
}
.social a:hover .icon-s-facebook {
    color: #677fb5;
    border-color: #677fb5;
}
.social a:hover .icon-s-twitter {
    color: #70c2e9;
    border-color: #70c2e9;
}
.social a:hover .icon-s-flickr {
    color: #ff3ba4;
    border-color: #ff3ba4;
}
.social a:hover .icon-s-dribbble {
    color: #e299c2;
    border-color: #e299c2;
}
.social a:hover .icon-s-behance {
    color: #42a9fb;
    border-color: #42a9fb;
}
.social a:hover .icon-s-linkedin {
    color: #3daccf;
    border-color: #3daccf;
}
.social a:hover .icon-s-vimeo {
    color: #42b5d4;
    border-color: #42b5d4;
}
.social a:hover .icon-s-youtube {
    color: #d5615c;
    border-color: #d5615c;
}
.social a:hover .icon-s-skype {
    color: #5ecbf3;
    border-color: #5ecbf3;
}
.social a:hover .icon-s-tumblr {
    color: #829fb9;
    border-color: #829fb9;
}
.social a:hover .icon-s-delicious {
    color: #6194dc;
    border-color: #6194dc;
}
.social a:hover .icon-s-500px {
    color: #3bbbe6;
    border-color: #3bbbe6;
}
.social a:hover .icon-s-grooveshark {
    color: #f88e3b;
    border-color: #f88e3b;
}
.social a:hover .icon-s-forrst {
    color: #5f9864;
    border-color: #5f9864;
}
.social a:hover .icon-s-digg {
    color: #507faa;
    border-color: #507faa;
}
.social a:hover .icon-s-blogger {
    color: #fd893f;
    border-color: #fd893f;
}
.social a:hover .icon-s-klout {
    color: #e16747;
    border-color: #e16747;
}
.social a:hover .icon-s-dropbox {
    color: #6ba3c5;
    border-color: #6ba3c5;
}
.social a:hover .icon-s-github {
    color: #6c93bb;
    border-color: #6c93bb;
}
.social a:hover .icon-s-songkick {
    color: #ff3b60;
    border-color: #ff3b60;
}
.social a:hover .icon-s-posterous {
    color: #efd57c;
    border-color: #efd57c;
}
.social a:hover .icon-s-appnet {
    color: #3daad5;
    border-color: #3daad5;
}
.social a:hover .icon-s-gplus {
    color: #bc7067;
    border-color: #bc7067;
}
.social a:hover .icon-s-stumbleupon {
    color: #f07356;
    border-color: #f07356;
}
.social a:hover .icon-s-lastfm {
    color: #cd443d;
    border-color: #cd443d;
}
.social a:hover .icon-s-spotify {
    color: #9acf48;
    border-color: #9acf48;
}
.social a:hover .icon-s-instagram {
    color: #b99682;
    border-color: #b99682;
}
.social a:hover .icon-s-evernote {
    color: #9fdc82;
    border-color: #9fdc82;
}
.social a:hover .icon-s-paypal {
    color: #5b85a8;
    border-color: #5b85a8;
}
.social a:hover .icon-s-picasa {
    color: #b088c1;
    border-color: #b088c1;
}
.social a:hover .icon-s-soundcloud {
    color: #ff8b45;
    border-color: #ff8b45;
}
.social a:hover .icon-search {
    color: #fa6c65;
    border-color: #fa6c65;
}
/*-----------------------------------------------------------------------------------*/
/*	REVOLUTION SLIDER
/*-----------------------------------------------------------------------------------*/
.fullwidthbanner-container {
    width: 100% !important;
    position: relative;
    padding: 0;
    max-height: 600px !important;
    overflow: hidden !important;
}
.revolution ul {
    visibility: hidden;
    margin: 0;
    list-style: none;
}
.tp-caption.bold {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    line-height: 1;
    font-weight: 900;
    color: #FFF;
}
.tp-caption.lite {
    font-size: 22px;
    line-height: 1;
    color: #F5F5F5;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}
.tp-caption.white-bg {
    background: #FFF;
    color: #5c5c5c !important;
    padding: 10px 15px 11px 15px;
}
.tp-caption.opacity-bg {
    background: rgba(0,0,0,0.3);
    color: #FFF;
    padding: 10px 15px;
}
.tp-caption a.btn {
    color: #fff
}
.tp-caption .dotted {
    border-bottom: 1px dotted #fa6c65
}
.tp-leftarrow.default,
.tp-rightarrow.default {
    z-index: 100;
    cursor: pointer;
    position: relative;
    top: 50% !important;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    background: rgba(0,0,0,0.3);
    color: #f7f7f7;
    line-height: 1;
    font-size: 20px;
    padding: 12px 19px;
    width: auto;
    height: auto;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.tparrows:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
}
.tp-leftarrow.default:before {
    content: '\e75d'
}
.tp-rightarrow.default:before {
    content: '\e75e'
}
.tparrows:hover {
    background: rgba(0,0,0,0.5)
}
.tp-bullets.simplebullets.round .bullet {
    width: 12px;
    height: 12px;
    margin-left: 4px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    background: rgba(0,0,0,0.3);
}
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.round .bullet:hover {
    background: rgba(0,0,0,0.5)
}
.tp-bullets.hidebullets {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.tp-loader {
    background: url(style/images/loading.gif) no-repeat;
    background-color: #fff;
    margin: -15px -15px;
    top: 50%;
    left: 50%;
    z-index: 10000;
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) { 
	.tp-loader {
	    background-image: url(style/images/loading%402x.gif)
	}
}
.tp-bannertimer {
    width: 100%;
    height: 10px;
    background: url(style/images/timer.png);
    position: absolute;
    z-index: 200;
}
/*-----------------------------------------------------------------------------------*/
/*	SERVICES TABS
/*-----------------------------------------------------------------------------------*/
.services .etabs {
    padding: 0;
    overflow: inherit;
    width: 80%;
    margin: 0 auto;
}
.services,
.services .etabs {
    text-align: center
}
.services .tab {
    display: inline-block
}
.services .tab a {
    display: block
}
.services .tab .icon {
    display: table;
    margin: 0 auto 15px;
    position: relative;
}
.services .tab .icon i.icn {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #bababa;
    border: 2px solid #bababa;
    line-height: 1;
    font-size: 35px;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.services .tab:hover .icon i.icn,
.services .tab.active .icon i.icn {
    color: #fa6c65;
    border: 2px solid #fa6c65;
}
.services .tab h4 {
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #bababa;
}
.services .tab:hover h4,
.services .tab.active h4 {
    color: #fa6c65
}
.services .tab h4 {
    margin: 0
}
.services.tabs .panel-container {
    width: 90%;
    margin: 0 auto 30px;
}
.services.tab-container .panel-container p {
    margin: 0;
    padding-bottom: 10px;
}
/*-----------------------------------------------------------------------------------*/
/*	SERVICES ICONS
/*-----------------------------------------------------------------------------------*/
.services .row {
    text-align: left
}
.icon {
    display: table
}
.services .row  .icon {
    float: left;
    margin-right: 20px;
}
.services .row .text {
    overflow: hidden
}
.icon i.icn {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border: 1px solid #fa6c65;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-weight: bold;
    color: #fa6c65;
    line-height: 1;
    font-size: 20px;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.step:hover i.icn {
    background-color: #fa6c65;
    color: #FFF;
}
/*-----------------------------------------------------------------------------------*/
/*	TABS ON SIDE
/*-----------------------------------------------------------------------------------*/
.tabs-side:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.tabs-side .etabs {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    overflow: inherit;
    width: 260px;
    float: left;
}
.tabs-side .tab {
    margin: 0;
    padding: 0;
    display: block;
    zoom: 1;
    border: 1px solid #e3e3e3;
    border-right: none;
    left: 1px;
    position: relative;
    z-index: 1;
    border-top: none;
}
.tabs-side .tab:first-child {
    border-top: 1px solid #e3e3e3
}
.tabs-side .tab a {
    padding: 10px 20px;
    display: block;
    background: #f5f5f5;
    color: #616161;
    /*font-size: 15px;*/
    font-weight: 700;
    /*text-transform: uppercase;*/
    font-family: 'Roboto Condensed', sans-serif;
}
.tabs-side .tab i {
    margin-right: 5px
}
.tabs-side .tab.active {
    position: relative;
    z-index: 3;
}
.tabs-side .tab.active a {
    background: #fff
}
.tabs-side .tab a:hover,
.tabs-side .tab.active a {
    color: #fa6c65
}
.tabs-side.tab-container .panel-container {
    border-left: 1px solid #e3e3e3;
    position: relative;
    z-index: 1;
    display: block;
    width: 710px;
    float: right;
}
.tabs-side.tab-container .panel-container p {

}
.tabs-side.tab-container .panel-container .tab-block {
    padding-left: 30px
}
/*-----------------------------------------------------------------------------------*/
/*	TABS ON TOP
/*-----------------------------------------------------------------------------------*/
.tabs-top .etabs {
    margin: 0;
    padding: 0;
    overflow: inherit;
}
.tabs-top.center .etabs {
    text-align: center
}
.tabs-top .tab {
    margin: 0;
    padding: 0;
    display: inline-block;
    zoom: 1;
    *display: inline;
    border: 1px solid #e3e3e3;
    border-bottom: none;
    top: 1px;
    position: relative;
    z-index: 1;
    margin-right: 3px;
}
.tabs-top .tab a {
    padding: 13px 25px;
    display: block;
    background: #f5f5f5;
    color: #616161;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}
.tabs-top.left .tab a {
    padding: 10px 20px
}
.tabs-top .tab i {
    margin-right: 5px
}
.tabs-top .tab.active {
    position: relative;
    z-index: 3;
}
.tabs-top .tab.active a {
    background: #fff
}
.tabs-top .tab a:hover,
.tabs-top .tab.active a {
    color: #fa6c65
}
.tabs-top.tab-container .panel-container {
    border-top: 1px solid #e3e3e3;
    position: relative;
    z-index: 1;
    display: block;
}
.tabs-top.tab-container .panel-container p {
    margin: 0;
    padding-bottom: 10px;
}
.tabs-top.tab-container .panel-container .tab-block {
    padding-top: 25px;
    padding-bottom: 0;
}
/*-----------------------------------------------------------------------------------*/
/*	TESTIMONIALS
/*-----------------------------------------------------------------------------------*/
#testimonials .tab {
    margin: 0;
    padding: 0;
    display: inline-block;
    zoom: 1;
    *display: inline;
    background: none;
    border: 1px solid #e7e7e7;
    border-bottom: none;
    top: 1px;
    position: relative;
    z-index: 1;
    margin-right: 1px;
}
#testimonials .tab:before {
    display: none
}
#testimonials .tab a {
    display: block;
    padding: 7px 17px;
    font-size: 13px;
    font-weight: 700;
    color: #7f7f7f;
}
#testimonials .tab a.active,
#testimonials .tab a:hover {
    color: #1abb9c
}
#testimonials .tab.active {
    background: none;
    position: relative;
    z-index: 3;
}
#testimonials .tab-container .panel-container {
    border-top: 1px solid #e7e7e7;
    position: relative;
    z-index: 1;
}
#testimonials .tab-container .panel-container div.tab-block {
    padding: 20px 0 0 0
}
#testimonials {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
#testimonials .author {
    font-style: normal;
    font-size: 14px;
    color: #fa6c65;
    display: block;
}
#testimonials div {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 32px;
    font-weight: 300;
    position: relative;
    font-family: 'Roboto Slab', serif;
}
#testimonials .tab {
    border: none;
    margin: 0;
}
#testimonials .etabs {
    padding: 0;
    margin: 0;
    height: 12px;
}
#testimonials .tab a {
    padding: 0;
    text-indent: -99999px;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: none;
    border: 1px solid #aaa;
}
#testimonials .tab a.active,
#testimonials .tab a:hover {
    border: 1px solid #fa6c65;
    background: none;
    position: relative;
    z-index: 3;
}
#testimonials .panel-container {
    border: none
}
#testimonials:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: block;
    text-decoration: inherit;
    content: '\275e';
    font-size: 33px;
    color: #d0d0d0;
    margin-bottom: 5px;
    text-align: center;
}
#testimonials.tab-container .panel-container div {
    padding-top: 15px
}
/*-----------------------------------------------------------------------------------*/
/*	ACCORDION / TOGGLE
/*-----------------------------------------------------------------------------------*/
.panel-group .panel {
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-heading {
    padding: 0
}
.panel-heading .panel-title {
    font-size: 14px
}
.panel-title > a {
    display: block;
    color: #616161;
    padding: 13px 15px;
}
.panel-title > a:hover {
    color: #fa6c65
}
/*-----------------------------------------------------------------------------------*/
/*	PORTFOLIO
/*-----------------------------------------------------------------------------------*/
.items {
    list-style: none
}
.items {
    margin: 0;
    *zoom: 1;
    padding: 0;
}
.items:before,
.items:after {
    display: table;
    content: "";
    line-height: 0;
}
.items:after {
    clear: both
}
.items li {
    float: left;
    min-height: 1px;
    position: relative;
}
.items.col4 {
    margin-left: -8px;
    margin-bottom: -8px;
}
.items.col4 li {
    width: 318px;
    margin-left: 8px;
    margin-bottom: 8px;
}
.items.col3 {
    margin-left: -8px;
    margin-bottom: -8px;
}
.items.col3 li {
    width: 318px;
    margin-left: 8px;
    margin-bottom: 8px;
}
.items.col3.border {
    margin-left: -20px;
    margin-bottom: -20px;
}
.items.col3.border li {
    width: 310px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.items.col4.border {
    margin-left: -20px;
    margin-bottom: -20px;
}
.items.col4.border li {
    width: 310px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.items.col4 .post-title {
    font-size: 16px;
    margin-bottom: 3px;
}
.items.fullscreen {
    width: 100%;
    clear: both;
    margin: 0 0 -1px 0;
    padding: 0;
    list-style: none;
}
.items.fullscreen li {
    float: left;
    position: relative;
    background: none;
    padding: 0;
    width: 16.666666666%;
}
.items.fullscreen li img {
    display: block;
    /*position: relative;*/
    width: 100%;
    height: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
.items.fullscreen:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.items li img {
    display: block;
    width: 100%;
}
.items li a,
.items li a img {
    display: block;
    position: relative;
}
.items li a {
    overflow: hidden
}
.items li a .text-overlay {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    height: 100%;
    position: absolute;
    text-decoration: none;
    width: 100%;
    z-index: 100;
    background: #222;
    background-color: rgba(250,108,101, 0.92);
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.items li a:hover .text-overlay {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.items li a .text-overlay h3 {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    color: #FFF;
}
.items li a .text-overlay .info {
    position: absolute;
    left: 0;
    top: -105px;
    z-index: 2;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 25px;
}
.items li a:hover .text-overlay .info {
    top: 0!important
}
.items li a .text-overlay span {
    font-weight: 300;
    font-size: 12px;
    margin-top: 2px;
    display: block;
    color: #FFF;
    text-transform: none;
    font-family: 'Roboto Slab', serif;
}
.filter {
    padding: 0;
    margin-bottom: 20px;
}
.row .filter {
    margin: 0
}
.filter li {
    display: inline;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 30px 0 0;
}
.filter.text-center {
    margin-left: 0
}
.filter.text-center li {
    margin: 0 15px
}
.filter li a {
    color: #616161
}
.filter li a:hover,
.filter li a.active {
    color: #fa6c65
}
.filter li a:before {
    content: '\e800';
    margin-right: 10px;
    font-weight: normal;
    vertical-align: top;
    padding-top: 1px;
    display: inline-block;
    font-family: 'fontello-circle';
    color: #616161;
    font-size: 8px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.filter li a:hover:before,
.filter li a.active:before {
    color: #fa6c65
}
.isotope,
.isotope .item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}
/*-----------------------------------------------------------------------------------*/
/*	OVERLAY
/*-----------------------------------------------------------------------------------*/
.icon-overlay {
    display: block;
    position: relative;
}
.icon-overlay img {
    display: block;
    max-width: 100%;
}
.icon-overlay a .icn-more {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    height: 100%;
    position: absolute;
    text-decoration: none;
    width: 100%;
    z-index: 100;
    background: #222;
    background-color: rgba(250,108,101, 0.92);
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    overflow: hidden;
}
.icon-overlay a:hover .icn-more {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.icon-overlay a .icn-more:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    position: absolute;
    text-align: center;
    content: '\f50d';
    line-height: 1;
    width: 44px;
    height: 44px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 18px;
    padding-top: 13px;
    color: #FFF;
    top: 0;
    left: 50%;
    z-index: 2;
    border: 1px solid #FFF;
    margin: -22px 0 0 -22px;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.icon-overlay a:hover .icn-more:before {
    top: 50%!important
}
.sidebox .post-list .icon-overlay a .icn-more:before {
    border: none
}
.icon-overlay.icn-link a .icn-more:before {
    content: '\f517'
}
/*-----------------------------------------------------------------------------------*/
/*	PORTFOLIO POST
/*-----------------------------------------------------------------------------------*/
.item-details {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}
.item-details li span {
    font-size: 15px;
    padding-right: 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    color: #616161;
}
.item-details li a {
    color: #888
}
.item-details li a:hover {
    color: #fa6c65
}
.media-wrapper.portfolio {
    margin: 0 0 20px 0
}
.media-wrapper.portfolio.player {
    margin-bottom: 50px
}
.share {
    color: #9f9f9f
}
.share a i {
    font-size: 15px;
    margin-right: -1px;
}
.share a {
    color: #9f9f9f;
    margin-right: 12px;
}
.share.text-center a {
    margin: 0 6px
}
.share a:hover {
    color: #fa6c65
}
.share .share-facebook a:hover {
    color: #677fb5
}
.share .share-twitter a:hover {
    color: #70c2e9
}
.share .share-gplus a:hover {
    color: #bc7067
}
.share .share-pinterest a:hover {
    color: #d8545d
}
/*-----------------------------------------------------------------------------------*/
/*	PROCESS
/*-----------------------------------------------------------------------------------*/
.process {
    padding: 0;
    margin: 0;
    list-style: none;
}
.process li.process-item {
    padding: 50px
}
.process li.process-item.border-top {
    border-top: 1px solid #e3e3e3
}
.process li.process-item.border-bottom {
    border-bottom: 1px solid #e3e3e3
}
.process li.process-item.border-right {
    border-right: 1px solid #e3e3e3
}
.process li.process-item.border-left {
    border-left: 1px solid #e3e3e3
}
.process li.process-item .number {
    font-size: 60px;
    font-family: 'Roboto Slab', serif;
    color: #fa6c65;
    font-weight: 300;
    margin: 10px 25px 0 0;
    float: left;
    display: block;
}
.process li.process-item .info {
    overflow: hidden
}
ul {
    padding: 0 0 0 18px
}
ol {
    padding: 0 0 0 20px
}
ul.circled {
    padding: 0;
    list-style: none;
}
ul.circled li:before {
    content: '\e800';
    margin-right: 10px;
    font-weight: normal;
    vertical-align: top;
    padding-top: 1px;
    display: inline-block;
    font-family: 'fontello-circle';
    color: #fa6c65;
    font-size: 8px;
}
/*-----------------------------------------------------------------------------------*/
/*	OWL CAROUSEL
/*-----------------------------------------------------------------------------------*/
.owl-theme .owl-controls {
    margin-top: 30px;
    text-align: center;
    position: relative;
}
.owl-theme .owl-controls .owl-buttons {
    margin-top: 10px
}
.owl-theme .owl-controls .owl-buttons div {
    color: #aaa;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 29px;
    height: 29px;
    margin: 0 3px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: none;
    border: 1px solid #aaa;
    font-size: 19px;
}
/* Firefox Fix */
@-moz-document url-prefix() { 
	.owl-theme .owl-controls .owl-buttons div {
	    line-height: 28px
	}
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    border: 1px solid #fa6c65;
    color: #fa6c65;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 11px;
    height: 11px;
    margin: 0 2px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: none;
    border: 1px solid #aaa;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    border: 1px solid #fa6c65
}
.carousel-th .item {
    margin: 0 10px 1px 10px
}
#owl-clients .item img {
    max-width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
#owl-clients .item:hover img {
    max-width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.owl-portfolio-slider {
    padding-bottom: 15px
}
.owl-slider-wrapper {
    position: relative
}
.owl-slider-wrapper .item img {
    display: block;
    width: 100%;
    height: auto;
}
.owl-slider-wrapper .owl-custom-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
}
.owl-slider-wrapper .owl-custom-nav .slider-prev {
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -23px;
    pointer-events: auto;
}
.owl-slider-wrapper .owl-custom-nav .slider-next {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -23px;
    pointer-events: auto;
}
.owl-slider-wrapper .owl-custom-nav .slider-prev,
.owl-slider-wrapper .owl-custom-nav .slider-next {
    z-index: 1;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    background: rgba(0,0,0,0.3);
    color: #f7f7f7;
    line-height: 1;
    font-size: 20px;
    padding: 12px 19px;
    width: auto;
    height: auto;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.owl-slider-wrapper .owl-custom-nav .slider-prev:before,
.owl-slider-wrapper .owl-custom-nav .slider-next:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
}
.owl-slider-wrapper .owl-custom-nav .slider-prev:before {
    content: '\e75d'
}
.owl-slider-wrapper .owl-custom-nav .slider-next:before {
    content: '\e75e'
}
.owl-slider-wrapper .owl-custom-nav .slider-prev:hover,
.owl-slider-wrapper .owl-custom-nav .slider-next:hover {
    background: rgba(0,0,0,0.5)
}
.owl-slider-wrapper .owl-controls {
    margin: -40px 0 0 0
}
.owl-slider-wrapper .owl-controls .owl-pagination .owl-page span {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    background: rgba(0,0,0,0.3);
    border: none;
}
.owl-slider-wrapper .owl-controls .owl-pagination .owl-page.active span,
.owl-slider-wrapper .owl-controls .owl-pagination .owl-page:hover span {
    background: rgba(0,0,0,0.5);
    border: none;
}
.owl-slider-wrapper .owl-custom-nav,
.owl-slider-wrapper .owl-controls {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.owl-slider-wrapper:hover .owl-custom-nav,
.owl-slider-wrapper:hover .owl-controls {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
#owl-gallery .item {
    margin: 0 10px
}
#owl-gallery .item img {
    display: block;
    width: 100%;
    height: auto;
}
#owl-gallery .owl-controls {
    margin: 10px 0 0 0
}
#owl-gallery .owl-pagination {
    height: 12px
}
/* preloading images */
.owl-item.loading {
    min-height: inherit;
    background: none;
}
/*-----------------------------------------------------------------------------------*/
/*	PARALAX
/*-----------------------------------------------------------------------------------*/
.parallax {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFF !important;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    padding: 0;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
}
.parallax .inner {
    width: 80%;
    margin: 0 auto;
}
.parallax .section-title,
.parallax .section-title span,
.parallax .section-title span:before,
.parallax p {
    color: #FFF
}
#first {
    background-image: url(style/images/art/parallax1.jpg)
}
#second {
    background-image: url(style/images/art/parallax2.jpg)
}
#third {
    background-image: url(style/images/art/parallax3.jpg)
}
#fourth {
    background-image: url(style/images/art/parallax4.jpg)
}
.post-parallax {
    padding-top: 145px;
    padding-bottom: 145px;
}
.post-parallax h3,
.post-parallax p {
    display: inline-block;
    text-transform: none;
}
.post-parallax h3.bold {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    line-height: 1;
    font-weight: 900;
    color: #FFF;
}
.post-parallax .lead {
    font-size: 22px;
    line-height: 1;
    color: #F5F5F5;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}
.post-parallax .opacity-bg {
    background: rgba(0,0,0,0.6);
    color: #FFF;
    padding: 10px 15px;
}
.parallax.mobile {
    background-attachment: scroll !important
}
/*-----------------------------------------------------------------------------------*/
/*	PRICING TABLE
/*-----------------------------------------------------------------------------------*/
.pricing {
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;
    display: block;
}
.pricing ul {
    padding: 0
}
.pricing .btn {
    margin: 0
}
.pricing .plan {
    border: 1px solid #dedede
}
.pricing .plan h3 {
    font-size: 18px;
    line-height: 45px;
    margin: 0;
    padding: 5px 0;
    background: #fff;
    color: #5c5c5c;
}
.pricing .plan h4 {
    padding: 20px 0;
    margin: 0;
    background: #f5f5f5;
}
.pricing .plan h4 span {
    color: #fa6c65
}
.pricing .plan h4 .amount {
    display: block;
    text-align: center;
}
.pricing .plan h4 .amount {
    font-size: 45px;
    padding-bottom: 10px;
}
.pricing .plan h4 .amount span {
    vertical-align: super;
    font-size: 20px;
    font-weight: 300;
}
.pricing .plan li:nth-child(2n) {
    background: #f5f5f5
}
.pricing .plan ul {
    margin: 0;
    list-style: none;
}
.pricing .plan ul li {
    background: #fff;
    padding: 15px 0;
}
.pricing .plan h3 {
    text-transform: uppercase
}
.pricing .select {
    background: #f5f5f5;
    padding: 18px 0;
}
/*-----------------------------------------------------------------------------------*/
/*	PROGRESS BAR
/*-----------------------------------------------------------------------------------*/
.progress-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.progress-list p {
    margin-bottom: 5px
}
.progress-list li {
    margin-bottom: 20px
}
.progress-list li em {
    padding-left: 8px;
    color: #fa6c65;
    font-style: normal;
}
.progress-list li em:before {
    content: "-";
    padding-right: 10px;
    display: inline-block;
}
.progress.plain {
    height: 15px;
    margin-bottom: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background: #f5f5f5;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.progress.plain .bar {
    float: left;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    text-shadow: none;
    background: #fa6c65;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/*-----------------------------------------------------------------------------------*/
/*	FORMS
/*-----------------------------------------------------------------------------------*/
.forms {
    position: relative;
    padding: 0;
    width: 100%;
}
.form-container .response {
    display: none
}
.forms ol {
    margin: 0;
    padding: 0;
}
.forms ol li {
    line-height: auto;
    list-style: none;
}
.forms li.hidden-row {
    display: none
}
input,
textarea,
.uneditable-input {
    width: 100%
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 25px;
    color: #888;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    background-color: #f5f5f5;
    border: 1px solid #c9c9c9;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
textarea {
    height: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
    min-height: 150px;
    resize: vertical;
}
.btn-submit {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    width: auto;
}
.forms li.error input,
.forms li.error textarea {
    border: 1px solid #d18282
}
.forms span.error {
    display: none
}
.forms .button-row span.error {
    padding: 0;
    display: none;
}
.forms .button-row p.forgot {
    padding: 10px 0 0 10px;
    overflow: hidden;
    display: inline-block;
}
.forms label {
    display: block;
    float: left;
    width: 95px;
    padding-top: 7px;
    font-size: 13px;
    clear: both;
}
.comment-form div label {
    position: absolute;
    top: 0;
    left: 0;
}
.form-container:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.newsletter {
    position: relative;
    width: 350px;
    margin: 0 auto;
}
.newsletter input[type="email"] {
    background: none;
    background: rgba(255,255,255,0.15);
    width: 350px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    height: 54px;
    color: #FFF !important;
}
.newsletter input[type="email"]:focus {
    background: rgba(255,255,255,0.20)
}
.newsletter .btn-submit {
    position: absolute;
    right: 0;
    top: 5px;
    color: #FFF !important;
}
.parallax input,
.parallax button,
.parallax select,
.parallax textarea,
.black-wrapper input,
.black-wrapper button,
.black-wrapper select,
.black-wrapper textarea {
    color: #e4e4e4 !important
}
::-webkit-input-placeholder {
    color: #e4e4e4 !important
}
:-moz-placeholder {
    color: #e4e4e4 !important
}
::-moz-placeholder {
    color: #e4e4e4 !important
}
:-ms-input-placeholder {
    color: #e4e4e4 !important
}
input:focus::-webkit-input-placeholder {
    color: transparent !important
}
input:focus:-moz-placeholder {
    color: transparent !important
}
input:focus::-moz-placeholder {
    color: transparent !important
}
input:focus:-ms-input-placeholder {
    color: transparent !important
}
/*-----------------------------------------------------------------------------------*/
/*	POSTS
/*-----------------------------------------------------------------------------------*/
.recent-list {
    padding: 0;
    list-style-type: none;
}
.recent-list .post {
    margin-bottom: 40px;
    padding: 0;
}
.recent-list .post:last-child {
    margin-bottom: 0
}
.recent-list .post .date-wrapper {
    float: left;
    text-align: center;
    display: table;
    margin-right: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.recent-list .post .date {
    background: none;
    border: 1px solid #fa6c65;
    color: #fa6c65;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 61px;
    height: 61px;
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
}
.recent-list .post .date .day {
    font-size: 22px
}
.recent-list .post .date .month {
    font-size: 12px
}
.recent-list .format-wrapper {
    float: left;
    width: 39px;
    height: 39px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #fa6c65;
    text-align: center;
    color: #FFF;
    display: table;
}
.recent-list .format-wrapper i {
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
}
.recent-list .post .details {
    overflow: hidden
}
.recent-list .post .post-title {
    margin: 0;
    margin-bottom: 5px;
}
/*-----------------------------------------------------------------------------------*/
/*	BLOG
/*-----------------------------------------------------------------------------------*/
.blog.no-sidebar .post,
.blog.no-sidebar #comments,
.blog.no-sidebar .pagination,
.blog.no-sidebar .comment-form-wrapper {
    width: 770px;
    margin: 0px auto !important;
}
.blog.no-sidebar .post-title,
.blog.no-sidebar .meta {
    text-align: center
}
.meta .sep {
    padding: 0 8px
}
.filter-title {
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #bababa;
    margin-bottom: 20px;
    margin-top: 1px;
}
.format-filter {
    padding: 0;
    margin: 0;
    list-style: none;
}
.format-filter li {
    display: inline;
    font-size: 20px;
    margin: 0 20px 0 0;
}
.format-filter li i {
    line-height: 1
}
.format-filter.text-center li {
    margin: 0 10px
}
.format-filter li a {
    color: #bababa
}
.format-filter li a:hover,
.format-filter li a.active {
    color: #fa6c65
}
.classic-blog .post .date-wrapper {
    text-align: center;
    display: table;
    float: left;
    margin-right: 20px;
}
.classic-blog .post .date {
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
    width: 61px;
    height: 61px;
    border: 1px solid #fa6c65;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    font-weight: bold;
    color: #fa6c65;
    line-height: 1;
    text-transform: uppercase;
}
.classic-blog .post a.date:hover {
    background-color: #fa6c65;
    color: #FFF;
}
.classic-blog .post .date .day {
    font-size: 20px;
    margin-bottom: 1px;
    display: block;
}
.classic-blog .post .date .month {
    font-size: 12px;
    display: block;
}
.classic-blog .posts .format-wrapper {
    width: 39px;
    height: 39px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #fa6c65;
    text-align: center;
    color: #FFF;
    display: table;
}
.posts .format-wrapper i {
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
}
.classic-blog .posts {
    border-left: 1px solid #e3e3e3;
    padding-left: 59px;
    margin-left: 30px;
}
.classic-blog .post {
    position: relative;
    padding-bottom: 80px;
}
.classic-blog.single .post {
    padding: 0;
    margin-bottom: 80px;
}
.posts .date-wrapper {
    position: absolute;
    top: 0;
    left: -90px;
}
.posts .format-wrapper {
    position: absolute;
    top: 75px;
    left: -80px;
    font-size: 15px;
}
.grid-blog .post {
    margin-bottom: 30px
}
.grid-blog .post figure {
    margin-bottom: -1px
}
.grid-blog .post .date {
    display: inline
}
.grid-blog .post .post-title {
    margin-bottom: 5px
}
.grid-blog .post .meta {
    margin-bottom: 10px
}
.grid-blog.col2 .post-title {
    font-size: 20px
}
.grid-blog:before,
.grid-blog:after {
    display: table;
    content: "";
    line-height: 0;
}
.grid-blog:after {
    clear: both
}
.grid-blog .post {
    float: left;
    min-height: 1px;
    position: relative;
}
.grid-blog.col3 {
    margin-left: -20px;
    margin-bottom: -20px;
}
.grid-blog.col3 .post {
    width: 310px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.grid-blog.col2 {
    margin-left: -30px;
    margin-bottom: -30px;
}
.grid-blog.col2 .post {
    width: 470px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.row .grid-blog.col2 {
    margin-left: -20px;
    margin-bottom: -20px;
}
.row .grid-blog.col2 .post {
    width: 308px;
    margin-left: 20px;
    margin-bottom: 20px;
}
/*-----------------------------------------------------------------------------------*/
/*	POST FORMATS
/*-----------------------------------------------------------------------------------*/
.format-gallery .owl-slider-wrapper {
    margin: 20px 0
}
.format-chat ul {
    list-style: none;
    padding: 0;
}
.format-chat ul li {
    margin-bottom: 5px
}
.format-chat ul li strong {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    color: #616161;
}
.format-link .post-title a:after {
    display: inline-block;
    content: "→";
    padding-left: 10px;
}
/*-----------------------------------------------------------------------------------*/
/*	AUTHOR
/*-----------------------------------------------------------------------------------*/
.about-author .author-image {
    width: 120px;
    float: left;
    margin-right: 20px;
}
.about-author .author-details {
    overflow: hidden
}
.about-author .author-details .social {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*-----------------------------------------------------------------------------------*/
/*	SIDEBAR
/*-----------------------------------------------------------------------------------*/
.sidebar {
    padding-left: 25px !important
}
.sidebar.left-sidebar {
    padding: 15px !important
}
.sidebox {
    margin-top: 50px;
    display: block;
}
.sidebox h3 {
    font-size: 16px;
    margin-bottom: 15px;
}
.sidebox:first-child {
    margin: 0
}
.sidebox .post-list {
    padding: 0;
    margin: 0;
}
.sidebox .post-list:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.sidebox .post-list li {
    clear: both;
    margin-bottom: 15px;
    display: block;
    overflow: hidden;
}
.sidebox .post-list h6 {
    font-size: 14px;
    line-height: 25px;
    margin: 0;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    font-family: 'Roboto', sans-serif;
}
.sidebox a {
    color: #888
}
.sidebox a:hover {
    color: #fa6c65
}
.sidebox .post-list .icon-overlay {
    float: left;
    width: 70px;
    height: 70px;
}
.sidebox .post-list .meta {
    margin-left: 85px;
    overflow: hidden;
    margin-bottom: 0;
}
.sidebox .post-list .meta em {
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
    color: #9f9f9f;
    font-weight: 400;
}
.sidebox .post-list .meta em:before {
    display: none
}
.sidebox.widget form {
    margin: 0
}
.sidebox.widget .searchform input {
    margin: 0
}
.widget .list {
    list-style: none;
    margin: 0;
}
.border-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
}
.border-list li {
    border-top: 1px solid #e3e3e3;
    position: relative;
}
.border-list li a {
    display: block;
    padding: 7px 12px;
    color: #888;
}
.border-list li a:hover {
    color: #fa6c65
}
.border-list li:after {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: block;
    text-decoration: inherit;
    content: "\e762";
    display: block;
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 17px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.border-list li:hover:after {
    color: #fa6c65
}
.border-list li:first-child {
    border-top: none
}
/*-----------------------------------------------------------------------------------*/
/*	TOOLTIP
/*-----------------------------------------------------------------------------------*/
.tooltip-inner {
    color: #fff;
    background-color: #fa6c65;
    padding: 5px 12px;
}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    border-top-color: #fa6c65
}
.tooltip.right .tooltip-arrow {
    border-right-color: #fa6c65
}
.tooltip.left .tooltip-arrow {
    border-left-color: #fa6c65
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #fa6c65
}
/*-----------------------------------------------------------------------------------*/
/*	PAGINATION
/*-----------------------------------------------------------------------------------*/
.pagination {
    display: block
}
.pagination ul {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 40px;
}
.pagination ul > li {
    display: inline-block;
    margin-bottom: 2px;
}
.pagination ul > li > a,
.pagination ul > li > span {
    float: none;
    border: none;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    background: #fa6c65;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 11px 20px 13px 20px;
    font-weight: 700;
    font-size: 14px;
    text-shadow: none;
    border: none;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    background: #e2625b;
    color: #fff;
}
.pagination ul > li:first-child > a,
.pagination ul > li:last-child > a {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
}
/*-----------------------------------------------------------------------------------*/
/*	COMMENTS
/*-----------------------------------------------------------------------------------*/
#comments {
    margin: 0;
    position: relative;
}
#comments ol.commentlist {
    list-style: none;
    margin: 0;
    padding: 0;
}
#comments ol.commentlist li {
    padding: 30px 0 0 0;
    background: none;
    border-top: 2px solid #e7e7e7;
    margin-top: 20px;
}
#comments ol.commentlist li:first-child {
    border: none;
    margin: 0;
}
#comments .user {
    float: left;
    width: 70px;
    height: 70px;
    position: relative;
}
#comments .message {
    overflow: hidden
}
#comments .arrow-box {
    margin-left: 20px;
    position: relative;
}
#comments ul.children {
    margin: 0;
    overflow: inherit;
    padding: 0 0 0 55px;
    list-style: none;
}
#comments ol.commentlist ul.children li {
    padding-right: 0;
    border: none;
}
#comments .info h2 {
    font-size: 16px;
    margin: 0;
    display: inline;
    margin-right: 5px;
}
#comments .info {
    margin-bottom: 12px
}
#comments .info h2 a {
    color: #616161
}
#comments .info h2 a:hover {
    color: #fa6c65
}
#comments .info .meta {
    display: block;
    margin: 0;
}
#comments .info .meta .date {
    display: inline
}
#comments a.reply-link {
    display: inline;
    color: #9f9f9f;
}
#comments a.reply-link:hover {
    color: #fa6c65
}
#comments a.reply-link:before {
    display: inline-block;
    content: "|";
    padding: 0 10px 0 7px;
    color: #9f9f9f; 
}
.comment-form-wrapper p {
    padding-bottom: 20px
}
.blog.no-sidebar #comments .meta {
    text-align: left
}
/*-----------------------------------------------------------------------------------*/
/*	GO TO TOP
/*-----------------------------------------------------------------------------------*/
#scrollUp {
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    background: rgba(0,0,0,0.3);
    color: #f7f7f7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    transition: background 200ms linear;
    -webkit-backface-visibility: hidden;
    line-height: 1;
    font-size: 20px;
    padding: 9px 10px 10px 10px;
}
#scrollUp:hover {
    background: rgba(0,0,0,0.5)
}
/*-----------------------------------------------------------------------------------*/
/*	FANCYBOX
/*-----------------------------------------------------------------------------------*/
#fancybox-thumbs ul li img {
    max-width: none
}
.info.hidden {
    display: none
}
.fancybox-wrap {
    background: #FFF !important
}
.fancybox-title,
.fancybox-error {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
    line-height: 24px !important;
}
.fancybox-title h2,
.fancybox-title h3 {
    color: #616161;
    margin-bottom: 10px;
    line-height: 22px;
    font-size: 18px;
}
.fancybox-skin {
    color: #616161 !important
}
.fancybox-title-inside-wrap {
    padding: 20px !important
}
.fancybox-nav span {
    width: 36px !important;
    height: 36px !important;
    margin-top: -18px !important;
}
.fancybox-close {
    top: -46px !important;
    right: 0 !important;
    width: 36px !important;
    height: 36px !important;
}
.fancybox-close:before,
.fancybox-prev span:before,
.fancybox-next span:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0 !important;
    margin-top: 6px !important;
    text-align: center;
    width: 36px !important;
    font-size: 20px !important;
}
/* Firefox Fix */
@-moz-document url-prefix() { 
	.fancybox-close:before,
	.fancybox-prev span:before,
	.fancybox-next span:before {
	    margin-top: 5px !important
	}
}
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
    background: rgba(0,0,0,0.5) !important;
    color: #f7f7f7 !important;
    text-align: center !important;
    -webkit-transition: all 200ms ease-in !important;
    -o-transition: all 200ms ease-in !important;
    -moz-transition: all 200ms ease-in !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
}
.fancybox-close:hover,
.fancybox-prev span:hover,
.fancybox-next span:hover {
    background: rgba(0,0,0,0.7) !important
}
.fancybox-close {
    background: rgba(0,0,0,0.25) !important
}
.fancybox-close:hover {
    background: rgba(0,0,0,0.55) !important
}
.fancybox-prev span:before {
    content: '\e75d'
}
.fancybox-next span:before {
    content: '\e75e'
}
.fancybox-close:before {
    content: '\2715'
}
#fancybox-loading {
    margin-top: -12px !important;
    margin-left: -12px !important;
    background: #000 !important;
    padding: 8px;
    opacity: 1 !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
}
#fancybox-loading div {
    width: 24px !important;
    height: 24px !important;
    background-image: url(style/images/fancy-loading.gif) !important;
}
.fancybox-overlay {
    background: rgba(27,27,27,0.94) !important
}
.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.33);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.33);
    box-shadow: 0 0 5px rgba(0,0,0,0.33);
}
/*-----------------------------------------------------------------------------------*/
/*	FEATURES
/*-----------------------------------------------------------------------------------*/
.font-icons {
    list-style: none;
    margin: 0;
    padding: 0;
}
.font-icons li {
    display: inline-block;
    font-size: 25px;
    margin-bottom: 10px;
    padding: 0 10px;
}
.alert .close {
    line-height: 28px
}
.retina-icons-code i {
    font-size: 18px
}
.retina-icons-code tr td:first-child,
.retina-icons-code tr th:first-child {
    text-align: center
}
.retina-icons-code code {
    color: #888;
    background: none;
}
.table-bordered {
    border: 1px solid #dedede;
    border-left: none;
    background: #fff;
}
.table-bordered th,
.table-bordered td {
    border-left: 1px solid #dedede
}
.table th,
.table td {
    border-top: 1px solid #dedede
}
/*-----------------------------------------------------------------------------------*/
/*	RESPONSIVE
/*-----------------------------------------------------------------------------------*/
@media (min-width: 1200px) { 
	.container {
	    padding-right: 0;
	    padding-left: 0;
	}
	.navbar-nav > li > a {
	    padding: 15px 25px
	}
	.tabs-side.tab-container .panel-container {
	    width: 910px
	}
	.parallax .inner {
	    width: 50%
	}
	.items.col4 {
	    margin-left: -10px;
	    margin-bottom: -10px;
	}
	.items.col4 li {
	    width: 285px;
	    margin-left: 10px;
	    margin-bottom: 10px;
	}
	.items.col3 {
	    margin-left: -9px;
	    margin-bottom: -9px;
	}
	.items.col3 li {
	    width: 384px;
	    margin-left: 9px;
	    margin-bottom: 9px;
	}
	.items.col3.border {
	    margin-left: -21px;
	    margin-bottom: -21px;
	}
	.items.col3.border li {
	    width: 376px;
	    margin-left: 21px;
	    margin-bottom: 21px;
	}
	.items.col4.border {
	    margin-left: -18px;
	    margin-bottom: -18px;
	}
	.items.col4.border li {
	    width: 279px;
	    margin-left: 18px;
	    margin-bottom: 18px;
	}
	.grid-blog.col3 {
	    margin-left: -24px;
	    margin-bottom: -24px;
	}
	.grid-blog.col3 .post {
	    width: 374px;
	    margin-left: 24px;
	    margin-bottom: 24px;
	}
	.grid-blog.col2 {
	    margin-left: -30px;
	    margin-bottom: -30px;
	}
	.grid-blog.col2 .post {
	    width: 570px;
	    margin-left: 30px;
	    margin-bottom: 30px;
	}
	.row .grid-blog.col2 {
	    margin-left: -30px;
	    margin-bottom: -30px;
	}
	.row .grid-blog.col2 .post {
	    width: 370px;
	    margin-left: 30px;
	    margin-bottom: 30px;
	}
	.sidebar {
	    padding-left: 35px !important
	}
	#testimonials {
	    width: 80%
	}
}
@media (min-width: 993px) { 
	.navbar .dropdown-submenu > a:after {
	    display: none
	}
	.navbar .dropdown-submenu > .dropdown-menu:not(.yamm-dropdown-menu) {
	    margin-top: 0
	}
	.dropdown-submenu {
	    position: relative
	}
	.dropdown-submenu>.dropdown-menu:not(.yamm-dropdown-menu) {
	    top: 0;
	    left: 100%;
	    margin-top: -6px;
	    border-left: 1px solid rgba(0, 0, 0, 0.2);
	}
	.dropdown-submenu:hover>.dropdown-menu:not(.yamm-dropdown-menu) {
	    display: block
	}
	.dropdown-submenu>a:after {
	    display: block;
	    content: " ";
	    float: right;
	    width: 0;
	    height: 0;
	    margin-top: 5px;
	    margin-right: -10px;
	}
	.dropdown-submenu:hover>a:after {

	}
	.dropdown-submenu.pull-left {
	    float: none
	}
	.dropdown-submenu.pull-left>.dropdown-menu:not(.yamm-dropdown-menu) {
	    left: -100%;
	    margin-left: 10px;
	}
	.open > .dropdown-menu,
	.open >  .dropdown-menu > .dropdown-submenu > .dropdown-menu {
	    animation-name: slidenavAnimation;
	    animation-duration: .3s;
	    animation-iteration-count: 1;
	    animation-timing-function: ease;
	    animation-fill-mode: forwards;
	    -webkit-animation-name: slidenavAnimation;
	    -webkit-animation-duration: .3s;
	    -webkit-animation-iteration-count: 1;
	    -webkit-animation-timing-function: ease;
	    -webkit-animation-fill-mode: forwards;
	    -moz-animation-name: slidenavAnimation;
	    -moz-animation-duration: .3s;
	    -moz-animation-iteration-count: 1;
	    -moz-animation-timing-function: ease;
	    -moz-animation-fill-mode: forwards;
	}
	@keyframes slidenavAnimation {
	    from {
	        opacity: 0
	    }
	    to {
	        opacity: 1
	    }
	}
	@-webkit-keyframes slidenavAnimation {
	    from {
	        opacity: 0
	    }
	    to {
	        opacity: 1
	    }
	}
}

@media (max-width: 991px) { 
	.navbar .social,
	.navbar .info {
	    display: none
	}
	.sticky-wrapper {
	    height: 0 !important;
	    max-height: inherit;
	}
	.navbar-header {
	    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.11);
	    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.11);
	    box-shadow: 0 1px 0 rgba(0,0,0,0.11);
	    padding: 20px 0;
	}
	.btn.responsive-menu {
	    display: block
	}
	.navbar-brand {
	    margin-top: 4px
	}
	.navbar-collapse {
	    max-height: inherit;
	    position: static !important;
	    background: #2d3134 !important;
	    float: left;
	    width: 100%;
	}
	.navbar-collapse:after {
	    content: '';
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
	.yamm .nav,
	.yamm .dropup,
	.yamm .dropdown,
	.yamm .collapse {
	    position: relative
	}
	.yamm .dropdown-menu {
	    position: relative;
	    left: inherit;
	    top: inherit;
	    float: none;
	    width: auto;
	    display: block !important;
	    background: none;
	}
	.navbar-nav > li > a,
	.navbar-nav > li:first-child > a,
	.navbar .dropdown-menu:not(.yamm-dropdown-menu) li {
	    border: none
	}
	.navbar-nav > li > a,
	.navbar .dropdown-menu:not(.yamm-dropdown-menu) li a {
	    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important
	}
	.navbar .nav .open > a,
	.navbar .nav .open > a:hover,
	.navbar .nav .open > a:focus {
	    background: none;
	    border: none;
	}
	.navbar-nav > li > a,
	.navbar .dropdown-menu:not(.yamm-dropdown-menu) li a,
	.navbar .dropdown-menu:not(.yamm-dropdown-menu) li a:hover,
	.navbar .dropdown-menu:not(.yamm-dropdown-menu) li a.active {
	    padding: 12px 0 !important
	}
	.navbar-nav > li > a,
	.navbar .dropdown-menu:not(.yamm-dropdown-menu) li a {
	    color: #cacaca
	}
	.navbar .dropdown-menu:not(.yamm-dropdown-menu) {
	    padding-left: 20px
	}
	.navbar .dropdown-menu:not(.yamm-dropdown-menu) a {
	    text-transform: none !important;
	    font-family: 'Roboto', sans-serif !important;
	    font-weight: normal !important;
	    font-size: 13px !important;
	}
	.yamm .yamm-content {
	    padding: 12px 0;
	    font-size: 13px;
	}
	.navbar.basic .btn.responsive-menu {
	    margin: 21px 0
	}
	.navbar-header {
	    float: left;
	    width: 100%;
	}
	.navbar-header:after {
	    content: '';
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
	.navbar.basic.default,
	.navbar.basic.fixed {
	    position: relative
	}
	.offset {
	    display: none
	}
	.navbar.basic .container {
	    width: 100%;
	    padding: 0;
	}
	.navbar.basic .navbar-collapse {
	    width: 100%;
	    float: none !important;
	    margin: 0;
	}
	.navbar.basic .navbar-nav {
	    width: 720px;
	    margin: 0 auto;
	    padding: 0;
	}
	.navbar.basic .basic-wrapper {
	    width: 720px;
	    margin: 0 auto;
	    display: block;
	}
	.navbar.basic.fixed .navbar-brand img {
	    height: auto;
	    margin-top: 26px;
	}
	.navbar.basic .navbar-brand {
	    margin: 0
	}
}
@media (max-width: 969px) { 
	.yamm .dropdown.yamm-fullwidth .dropdown-menu {
	    width: 100%
	}
}
@media (min-width: 768px) and (max-width: 979px) { 
	.navbar .container,
	.container {
	    padding-right: 15px;
	    padding-left: 15px;
	}
	.navbar-nav > li > a {
	    padding: 15px 18px
	}
	.navbar.basic .navbar-nav > li {
	    margin-left: 10px
	}
	.navbar.basic .navbar-nav > li > a {
	    padding: 30px 5px
	}
	.process li.process-item {
	    width: 100%;
	    padding: 50px 0;
	    border: none !important;
	    border-top: 1px solid #e3e3e3 !important;
	}
	.process li.process-item:first-child {
	    border: none !important;
	    padding-top: 0;
	}
	.process li.process-item:last-child {
	    padding-bottom: 0
	}
	.tabs-side .etabs {
	    width: 240px
	}
	.tabs-side.tab-container .panel-container {
	    width: 480px
	}
	.thin {
	    width: 80%
	}
	.color-wrapper [class*="col-"] {
	    width: 100%;
	    text-align: center !important;
	}
	.color-wrapper [class*="col-"] p {
	    margin-bottom: 20px !important;
	    text-align: center !important;
	}
	.tabs-top.left .tab {
	    margin-right: 2px
	}
	.tabs-top.left .tab a {
	    padding: 5px 10px
	}
	#testimonials {
	    width: 90%
	}
	.items.col4 {
	    margin-left: -9px;
	    margin-bottom: -9px;
	}
	.items.col4 li {
	    width: 234px;
	    margin-left: 9px;
	    margin-bottom: 9px;
	}
	.items.col3 {
	    margin-left: -9px;
	    margin-bottom: -9px;
	}
	.items.col3 li {
	    width: 234px;
	    margin-left: 9px;
	    margin-bottom: 9px;
	}
	.items.col3.border {
	    margin-left: -18px;
	    margin-bottom: -18px;
	}
	.items.col3.border li {
	    width: 351px;
	    margin-left: 18px;
	    margin-bottom: 18px;
	}
	.items.col4.border {
	    margin-left: -18px;
	    margin-bottom: -18px;
	}
	.items.col4.border li {
	    width: 351px;
	    margin-left: 18px;
	    margin-bottom: 18px;
	}
	.blog.no-sidebar .post,
	.blog.no-sidebar #comments,
	.blog.no-sidebar .pagination,
	.blog.no-sidebar .comment-form-wrapper {
	    width: 100%
	}
	.grid-blog.col3 {
	    margin-left: -20px;
	    margin-bottom: -20px;
	}
	.grid-blog.col3 .post {
	    width: 350px;
	    margin-left: 20px;
	    margin-bottom: 20px;
	}
	.grid-blog.col2 {
	    margin-left: -20px;
	    margin-bottom: -20px;
	}
	.grid-blog.col2 .post {
	    width: 350px;
	    margin-left: 20px;
	    margin-bottom: 20px;
	}
	.row .grid-blog.col2 {
	    margin-left: 0;
	    margin-bottom: -30px;
	}
	.row .grid-blog.col2 .post {
	    width: 100%;
	    margin-left: 0;
	    margin-bottom: 30px;
	}
}
@media (max-width: 767px) { 
	.navbar .container,
	.container {
	    padding-right: 20px;
	    padding-left: 20px;
	}
	.process li.process-item {
	    width: 100%;
	    padding: 50px 0 20px;
	    border: none !important;
	    border-top: 1px solid #e3e3e3 !important;
	}
	.process li.process-item:first-child {
	    border: none !important;
	    padding-top: 0;
	}
	.process li.process-item:last-child {
	    padding-bottom: 0
	}
	[class*="col-"] {
	    margin-bottom: 30px
	}
	#scrollUp {
	    display: none !important
	}
	footer .inner {
	    padding-bottom: 40px
	}
	.sub-footer p.pull-left,
	.sub-footer ul.pull-right {
	    float: none !important;
	    text-align: center;
	}
	.sub-footer p {
	    margin-bottom: 20px
	}
	.footer-menu li {
	    padding: 0 5px
	}
	.tab {
	    display: block !important;
	    margin: 0 !important;
	}
	.tab:last-child {
	    border: 1px solid #e3e3e3
	}
	.services .etabs,
	.services.tabs .panel-container {
	    width: 100%
	}
	.services,
	.services .etabs {
	    text-align: center
	}
	.services .tab a {
	    display: inline
	}
	.services .tab .icon {
	    display: inline;
	    margin: 0;
	}
	.services .tab .icon i.icn {
	    text-align: left;
	    display: inline;
	    vertical-align: baseline;
	    width: auto;
	    height: auto;
	    -webkit-border-radius: 0;
	    border-radius: 0;
	    background: transparent;
	    color: #616161;
	    line-height: 1;
	    border: none;
	    font-size: 16px;
	}
	.services .tab:hover .icon i.icn,
	.services .tab.active .icon i.icn {
	    background: none !important;
	    color: #fa6c65 !important;
	    border: none;
	}
	.services  .tab {
	    margin: 0;
	    padding: 0;
	    display: block;
	    zoom: 1;
	    border: 1px solid #e3e3e3;
	    border-bottom: none;
	    top: 1px;
	    position: relative;
	    z-index: 1;
	    margin-right: 3px;
	}
	.services  .tab:last-child {
	    border: 1px solid #e3e3e3
	}
	.services  .tab a {
	    padding: 13px 25px;
	    display: block;
	    background: #f5f5f5;
	    color: #616161;
	    font-size: 14px;
	    font-weight: 700;
	}
	.services .tab h4 {
	    color: #616161;
	    -webkit-transition: all 200ms ease-in;
	    -o-transition: all 200ms ease-in;
	    -moz-transition: all 200ms ease-in;
	}
	.services .tab.active a {
	    background-color: #fff
	}
	.services .tab:hover h4,
	.services .tab.active h4 {
	    color: #fa6c65
	}
	.services .tab h4 {
	    margin: 0;
	    display: inline;
	    font-size: 14px;
	}
	.services .tab .icon:before {
	    display: none
	}
	.services.tab-container .panel-container p {
	    margin: 0;
	    padding-bottom: 10px;
	}
	.tabs-side .etabs {
	    margin: 0;
	    padding: 0;
	    padding-top: 10px;
	    overflow: inherit;
	    width: 100%;
	    float: none;
	}
	.tabs-side .tab {
	    margin: 0;
	    padding: 0;
	    display: block;
	    zoom: 1;
	    border: 1px solid #e3e3e3 !important;
	    border-top: none !important;
	    left: 0;
	    position: relative;
	    z-index: 1;
	    border-top: none;
	}
	.tabs-side .tab:first-child {
	    border-top: 1px solid #e3e3e3 !important
	}
	.tabs-side .tab a {
	    padding: 13px 25px;
	    display: block;
	    background: #f5f5f5;
	    color: #616161;
	    font-size: 14px;
	    font-weight: 700;
	}
	.tabs-side .tab i {
	    margin-right: 5px
	}
	.tabs-side .tab.active {
	    position: relative;
	    z-index: 3;
	}
	.tabs-side .tab.active a {
	    background: #fff
	}
	.tabs-side .tab a:hover,
	.tabs-side .tab.active a {
	    color: #fa6c65
	}
	.tabs-side.tab-container .panel-container {
	    border-left: none;
	    position: relative;
	    z-index: 1;
	    display: block;
	    width: 100%;
	    float: none;
	}
	.tabs-side.tab-container .panel-container p {

	}
	.tabs-side.tab-container .panel-container .tab-block {
	    padding-left: 0;
	    padding-top: 20px;
	}
	.tabs-side img.pull-left,
	.tabs-side img.pull-right {
	    float: none !important;
	    margin-bottom: 10px;
	}
	.tabs-top.tab-container .panel-container .tab-block {
	    padding-top: 15px
	}
	img {
	    max-width: 100%;
	    height: auto;
	}
	.tp-bullets {
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
	    -moz-opacity: 0 !important;
	    -khtml-opacity: 0 !important;
	    opacity: 0 !important;
	}
	.tp-caption .btn-large {
	    padding: 5px 14px 8px 14px !important;
	    font-size: 11px;
	}
	.thin {
	    width: 100%
	}
	.color-wrapper [class*="col-"] {
	    width: 100%;
	    text-align: center !important;
	    margin-bottom: 0 !important;
	}
	.color-wrapper [class*="col-"] p {
	    margin-bottom: 20px !important;
	    text-align: center !important;
	}
	#testimonials {
	    width: 100%
	}
	#testimonials .tab {
	    display: inline-block !important
	}
	.services [class*="divide"] {
	    height: 0
	}
	.parallax .inner {
	    width: 100%;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.filter li a:before {
	    display: none
	}
	.items {
	    margin-left: 0 !important;
	    margin-bottom: -20px !important;
	}
	.items li {
	    width: 100% !important;
	    margin-left: 0 !important;
	    margin-bottom: 20px !important;
	}
	.items.fullscreen li {
	    margin: 0 !important
	}
	.sidebar {
	    margin-top: 70px;
	    padding-left: 15px !important;
	}
	.blog.no-sidebar .post,
	.blog.no-sidebar #comments,
	.blog.no-sidebar .pagination,
	.blog.no-sidebar .comment-form-wrapper {
	    width: 100%
	}
	.blog.no-sidebar .pagination ul {
	    margin: 0
	}
	.grid-blog {
	    margin-left: 0 !important;
	    margin-bottom: 20px !important;
	}
	.grid-blog .post {
	    width: 100% !important;
	    margin-left: 0 !important;
	    margin-bottom: 20px !important;
	}
	#comments .user {
	    display: none
	}
	#comments ul.children {
	    padding: 0 0 0 20px
	}
	#comments .arrow-box {
	    margin-left: 0
	}
	.panel-title {
	    line-height: 18px
	}
	.navbar.basic .navbar-nav {
	    width: 100%;
	    margin: 0 auto;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.navbar.basic .basic-wrapper {
	    width: 100%;
	    padding-left: 20px;
	    padding-right: 20px;
	    margin: 0 auto;
	    display: block;
	}
	.navbar.basic .navbar-nav > li {
	    margin-left: 0
	}
	.yamm .yamm-content.row {
	    margin-bottom: -30px
	}
	.about-author .author-image {
	    display: none
	}
}
/*-----------------------------------------------------------------------------------*/
/*	DEMO ONLY
/*-----------------------------------------------------------------------------------*/
a.changecolor {
	cursor: pointer;
}